sfSnake.vcxproj
sfSnake.vcxproj.filters
Debug/
Release/
_deps/
.vscode
CMakeFiles/
Testing/
.git/
build/
.cmake/
DartConfiguration.tcl
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
compile_commands.json
CMakeCache.txt
cmake_install.cmake
sfSnake
Makefile